<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="OpenCloseStrategySettings" type="BinanceBot.Settings.OpenCloseStrategySettings,BinanceBot.Settings"/>
    <section name="BinanceBotSettings" type="BinanceBot.Settings.BinanceBotSettings,BinanceBot.Settings"/>
  </configSections>


  <BinanceBotSettings
    SYMBOL="BCHUSDT"
    QUANTITY="0.010"
    APIKEY="YOUR_API_KEY_HERE"
    APISECRET="YOUR_API_SECRET_HERE"
    RISKPERCENTAGE="-1"
    REWARDPERCENTAGE="0.70"
    DECREASEONNEGATIVE="0.60"
    LEVERAGE="1"
    SIGNALSTRENGTH="50"
    TIMEFRAME="30m"
    CANDLECOUNT="200"
    ISLIVE="true"
    REOPENONESCAPE="false"
    />

  <OpenCloseStrategySettings
    
    KandleMultiplier="3"
    Smoothing="DEMA"
    
    ExitSignalStrength="15"
    ExitImmediate="false"
    
    EscapeTraps="true"
    EscapeTrapCandleIdx="1"
    EscapeTrapSignalStrength="50"
    
    GrabMissedPosition="true"
    MissedPositionStartCandleIndex="1"
    MissedPositionEndCandleIndex="25"
    MissedPositionSignalStrength="25"
    
    HeavyRiskPercentage="-0.80"
    
    BollingerCrossLookBack = "7"
    ConsistentKandlesLookBack="3"
    BollingerFactor="0.80"
    SignalGap ="4"
    ValidationRuleSet
    = "ValidateOpenPosition.IsTradeOnRightKandle,ValidateOpenPosition.IsTradeValidOnBollinger,ValidateOpenPosition.IsSignalGapValid,
       ValidateOpenMissedPosition.IsTradeOnRightKandle,ValidateOpenMissedPosition.IsTradeValidOnBollinger,ValidateOpenMissedPosition.IsSignalGapValid,ValidateOpenMissedPosition.KandlesAreConsistent,
       ValidateExitPosition.IsSignalGapValid,
       ValidateEscapeTrap.IsTradeOnRightKandle,ValidateEscapeTrap.IsSignalGapValid"
    
    />



</configuration>