<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="OpenCloseStrategySettings" type="BinanceBot.Settings.OpenCloseStrategySettings,BinanceBot.Settings"/>
    <section name="BinanceBotSettings" type="BinanceBot.Settings.BinanceBotSettings,BinanceBot.Settings"/>
  </configSections>


  <BinanceBotSettings
    SYMBOL="BCHUSDT"
    QUANTITY="0.01"
    APIKEY="API_KEY_HERE"
    APISECRET="API_SECRET_HERE"
    RISKPERCENTAGE="-1"
    REWARDPERCENTAGE="1"
    DECREASEONNEGATIVE="0.30"
    LEVERAGE="1"
    SIGNALSTRENGTH="50"
    TIMEFRAME="30m"
    CANDLECOUNT="200"
    ISLIVE="true"
    REOPENONESCAPE="false"
    />

  <OpenCloseStrategySettings
    KandleMultiplier="3"
    ExitSignalStrength="25"
    ExitImmediate="false"
    EscapeTraps="true"
    EscapeTrapCandleIdx="2"
    EscapeTrapSignalStrength="300"
    GrabMissedPosition="true"
    MissedPositionStartCandleIndex="2"
    MissedPositionEndCandleIndex="7"
    MissedPositionSignalStrength="200"
    HeavyRiskPercentage="-6.5"
    />



</configuration>