<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="OpenCloseStrategySettings" type="BinanceBot.Settings.OpenCloseStrategySettings,BinanceBot.Settings"/>
    <section name="BinanceBotSettings" type="BinanceBot.Settings.BinanceBotSettings,BinanceBot.Settings"/>
  </configSections>


  <BinanceBotSettings
    SYMBOL="BCHUSDT"
    QUANTITY="0.010"
    APIKEY="YOUR_API_KEY_HERE"
    APISECRET="YOUR_API_SECRET_HERE"
    RISKPERCENTAGE="-1"
    REWARDPERCENTAGE="0.70"
    DECREASEONNEGATIVE="0.60"
    LEVERAGE="1"
    SIGNALSTRENGTH="50"
    TIMEFRAME="30m"
    CANDLECOUNT="200"
    ISLIVE="true"
    REOPENONESCAPE="false"
    PrimaryLogPath="debug.logs"
    SecondaryLogPath="debug.txt"
    />

  <OpenCloseStrategySettings
    
    KandleMultiplier="3"
    Smoothing="DEMA"
    
    OpenPositionSignalStrength="50"
    MissedPositionSignalStrength="25"
    ExitPositionHeavyLossSignalStrength="-1"
    ExitSignalStrength="15"
    TakeProfitSignalStrength="-1"
    EscapeTrapSignalStrength="50"
    
    
    HeavyRiskPercentage="-0.80"
    
    ExitImmediate="false"
    
    EscapeTrapCandleIdx="1"

    MissedPositionStartCandleIndex="1"
    MissedPositionEndCandleIndex="30"
    
    
    RequiredSignalQuality="3"
    BollingerCrossLookBack = "5"
    ConsistentKandlesLookBack="2"
    BollingerFactor="0.80"
    SignalGap ="4"
    
    DecisionSet = "Open,OpenMissed,TakeProfit,Exit,ExitHeavy,Escape"


    ValidationRuleSet
    = "Open.IsTradeOnRightKandle,Open.IsTradeValidOnBollinger,Open.IsSignalGapValid,Open.IsSignalGoodQuality,
       OpenMissed.IsTradeOnRightKandle,OpenMissed.IsTradeValidOnBollinger,OpenMissed.IsSignalGapValid,OpenMissed.KandlesAreConsistent,OpenMissed.IsSignalGoodQuality,
       Exit.IsSignalGapValid,
       Escape.IsTradeOnRightKandle,Escape.IsSignalGapValid,Escape.IsTradeMatchTrend"
    
    />



</configuration>